html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/**/

tree-view {
  overflow-y: auto;
  overflow-x: hidden;
}
tree-view {
  font-size: 12px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  cursor: default;
  padding: 5px 0 5px 0;
}
tree-view ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 17px;
}
tree-view > ul {
  padding-left: 25px;
}
tree-view .row {
  display: block;
  white-space: nowrap;
  line-height: 2em;
  font-size: 1em;
  font-weight: 100;
  font-family: 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  margin-left: -1000px;
  padding-left: 995px;
  padding-right: 5px;
}
tree-view .row.icon-down-dir,
tree-view .row.icon-right-dir {
  margin-left: -1017px;
}
tree-view .row:hover {
  background-color: rgb(50,50,50);
}
tree-view span[class^="icon-"]::before {
  font-size: 1.2em;
  padding-right: 0.2em;
}
